*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    margin-top: 111px;
    padding: 0;
    line-height: 1.5;
    font-size: 1rem;
    color: #24272a;
}
h2{
    color: #0076a3;
    font-weight: bold;
}

h2 span{
    color: #ffa400;
}
.main_data{
    padding: 7rem 0;
}